{% extends "base.html" %}
{% block title %}{{ user_name}}{% endblock %}
{% block content %}
  <div>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">{{username}}</a>
      <a class="btn btn-outline-primary" href="/logout">Logout</a>
    </nav>
    <div class="container">
      <div class="row justify-content-md-center" style="margin: 50px;">
        <div class="col-md-6">
          <div class="d-flex justify-content-md-center align-items-center">
            <a class="btn btn-warning rounded shadow-lg" href="/wallet">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
              </svg> Wallet
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center align-items-center" style="margin: 50px;">
        <div class="col-md-6">
          <div class="d-flex justify-content-md-center align-items-center">
            <a class="btn btn-primary rounded shadow-lg" href="/serbicesByMe">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg> Services by me
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-md-center align-items-center">
            <a class="btn btn-primary rounded shadow-lg" href="/servicesToMe">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
              </svg> Service to me
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}