{% extends "base.html" %}
{% block title %}{{ user_name}}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center align-items-center" style="margin: 50px;">
      <div class="col-sm-6">
        <div class="d-flex justify-content-md-center align-items-center">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#new_task">
            Create New Task
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center align-items-center" style="margin: 50px;">
      <div class="col-sm-12">
        <div class="d-flex justify-content-md-center align-items-center">
          <h2>
            Projects create by me
          </h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center align-items-center" style="margin: 50px;">
      <div class="col-sm-12">
        <div class="d-flex justify-content-md-center align-items-center">
          <div class="card" style="width: 25rem; margin-bottom: 50px;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        
        <div class="d-flex justify-content-md-center align-items-center">
          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="new_task" tabindex="-1" aria-labelledby="NewProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create New Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/newProject" method="POST">
            <div class="form-group">
              <input type="text" name="projectName" id="projectName" class="form-control" required>
            </div>
            <div class="form-group">
              <select class="form-control" name="user" id="user" required>
                <option>Abel</option>
                <option>Zina</option>
                <option>Tiia</option>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control" name="status" id="status" required>
                <option>Created</option>
                <option>In Progress</option>
                <option>Done</option>
              </select>
            </div>
            <div class="form-group">
              <input type="number" name="amount" class="form-control" id="amount" value="0" required>
            </div>
            <button type="submit" class="btn btn-success">Deposit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock%}