{% extends "base.html" %}
{% block title %}{{ user_name}}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center align-items-center" style="margin: 50px;">
      <div class="col-sm-12">
        <div class="d-flex justify-content-center align-items-center">
          <h2>
            Services to me
          </h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center align-items-center">
      {% for project in projects %}
        <div class="col-sm-6">
          <div class="d-flex justify-content-center align-items-center">
            <div class="card shadow-lg" style="width: 25rem; margin-bottom: 50px; background-color: white;">
              <div class="card-body">
                <h5 class="card-title">
                  {{ project[0] }}
                  <span style="color:green; float: right;">{{ project[6]}}$
                  {% if project[4] == True %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                  {% endif %}
                  </span></h5>
                <h6 class="card-subtitle mb-2 text-muted">By: {{ project[1] }}</h6>
                <p class="card-text">{{ project[2] }}...</p>
                {% if project[3] == 1 %}
                  <span class="badge badge-primary">Created</span>
                {% elif project[3] == 2 %}
                  <span class="badge badge-warning">In Progress</span>
                {% elif project[3] == 3 %}
                  <span class="badge badge-success">Done</span>
                {% else %}
                  <span class="badge badge-danger">Blocker</span>
                {% endif %}

                {% if project[4] == True and project[3] == 3 %}
                  <form action="/hideProject" method="POST" style="display: inline;">
                    <input type="hidden" name="project_id" value="{{ project[5] }}">
                    <button type="submit" class="btn btn-outline-secondary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                        <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                      </svg>
                    </button>
                  </form>
                {% endif %}

                <a href="/servicesToMe/projects/{{ project[5] }}" class="card-link" style="float: right;">Info >></a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}